{% extends 'base.html ' %}
{% block content %}
<div class="container">
    
    <a href="/"><button class="btn btn-dark">Return to Home</button></a>
    <hr>
    <form method="POST">{% csrf_token %}
        <div class="mb-3">
            <label class="form-label">New Task name</label>
            <input type="text" class="form-control" name="name" placeholder="{{ tasks.name|upper }}" required>
        </div>
        <div class="mb-3">
            <label class="form-label">New Task Description</label>
            <textarea name="description" id="description" class="form-control" placeholder="{{ tasks.description|upper }}" ></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock content %}